<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodorderingapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodOrderingApp">
        <activity
            android:name=".AddToCart"
            android:exported="false" />
        <activity
            android:name=".placeyourorder_list_row"
            android:exported="false" />
        <activity
            android:name=".order1"
            android:exported="false" />
        <activity
            android:name=".getorder1"
            android:exported="false" />
        <activity
            android:name=".sample_mainfood"
            android:exported="false" />
        <activity
            android:name=".recycler_restaurant_list_row"
            android:exported="false" />
        <activity
            android:name=".menu_list_row"
            android:exported="false" />
        <activity
            android:name=".activity_success_order"
            android:exported="false" />
        <activity
            android:name=".activity_splash"
            android:exported="false" />
        <activity
            android:name=".activity_restaurant_menu"
            android:exported="false" />
        <activity
            android:name=".activity_place_your_order"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".sign_in_activity"
            android:exported="false" />
        <activity
            android:name=".resistration"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>